{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template-CF.liquid
{% endcomment %}

{% section 'product-template-CF' %}

<script>
  $(document).ready(function(){  
    //$('.videoContent').attr('data-src',$('.rte').find('iframe').attr('src'));
    //$('.videoContent').attr('src','');
    //$('.rte').find('iframe').wrap('<div class="video-wrapper"></div>');

  	
  })
</script>